#header {
    text-align: left;
    max-width: 1200px;
    width: 85%;
    margin: 0 0 0 15%;
    padding: 2em 0;
}

.logo {
    font-size: 3em;
    font-family: 'Public Sans';
    font-weight: 900;
    text-transform: uppercase;
}

body {
    background: #f7f7f7
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 0 0 15%;
    background: white;
    padding: 2em 3em;
}

.container .row.demo {
    margin: 10px 0;
    padding: 0 1.0rem;
}

.container .row .column.demo {
    margin: 10px;
    border-radius: 2px;
}

#grid .column.demo {
    background: gainsboro;
    padding: 10px 20px;
}

.post-card {
    padding: 0.5em 0 5em 0;
}

.bs--menu.menu_rules {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    background: white;
    margin: 0;
    overflow: auto;
    min-width: 13%;
}

main article {
    border: 1px solid #f1f1f1;
    margin: 1em auto;
    border-radius: 4px;
}

main article > div {
    background: #ffffff;
    padding: 1em;
}

main article header h4 {
    background: #efefef;
    margin: 0;
    padding: .3em 0.7em;
}

.post-card .bloccolor {
    display: block;
    width: 100%;
    padding: 0.6em;
    margin: 0.7em 0;
    border-radius: 5px;
}

.the-icons {
    justify-content: space-between;
    width: 25%;
}

span.i-code {
    display: none;
}

i.demo-icon {
    font-size: 1.4em
}

span.i-name {
    font-size: 0.8em;
    margin-left: 0.9em;
}

.code-wrap {
    margin-top: -0.6em;
}

.code-wrap div pre {
    border-radius: 0px 0px 3px 3px;
}

.bs--menu-tabs {
    border-radius: 3px 3px 0px 0px;
}

#header .bs--menu {
    position: fixed;
    top: 30px;
    right: 40px;
    z-index: 3;
}

#menu_mob-trigger {
    cursor: pointer;
    height: 27px;
    margin: 0 auto;
    position: fixed;
    width: 33px;
    display: none;
    left: 15px;
    top: 15px;
    z-index: 2;
}

#menu_mob-trigger .menu_mob__line {
    border-radius: 13px;
    height: 4px;
    position: absolute;
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-transition: cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -o-transition: cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    background: black;
}

#menu_mob-trigger .menu_mob__line:nth-child(1) {
    left: 0px;
    top: 0px;
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}

#menu_mob-trigger .menu_mob__line:nth-child(2) {
    left: 0px;
    opacity: 1;
    top: 12px;
}

#menu_mob-trigger .menu_mob__line:nth-child(3) {
    bottom: 0px;
    left: 0px;
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}

#menu_mob-trigger.open .menu_mob__line:nth-child(1) {
    top: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}

#menu_mob-trigger.open .menu_mob__line:nth-child(2) {
    opacity: 0;
}

#menu_mob-trigger.open .menu_mob__line:nth-child(3) {
    top: 13px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    transition-duration: 150ms;
}
form select {
    width: 30%;
    display: inline-block;
    margin: 5px 0% 5px 2%;
}

form label {
	display: inline-block;width: 20%;}

form div {
    display: inline-block;
    width: 47%;
}
@media screen and ( max-width: 940px ) {
    .wrapper,#header {
        width: 96%;
        margin: 0 2%;
        padding: 1em 1.2em;
    }

    #header {
        padding: 4em 0 0 0;
    }

    .bs--menu.menu_rules {
        width: 100%;
        left: -100%;
    }

    .bs--menu.menu_rules.open {
        left: 0;
        padding-top: 55px;
    }

    #menu_mob-trigger {
        display: block;
    }
}
